/*Index Page*/

/*The background of the index page*/
.index{
   
    background-image: url(web-pictures/popcorn-1433327.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
   
    
    
}

/* The color, position , size etc of the heading*/
.index-heading{
   
    position: absolute;
    top: 45%;
    left: 50%;
    text-align: center;
    font-family:'Courier New', Courier, monospace ;
    font-size: 40px;
    letter-spacing: 8px; 
    font-weight: 800;
    color:maroon;

}
/* When hovering over the title the text will expand*/
.index-heading:hover span{

    transform: scale(1.2);  
    color:maroon;  

}

/*The speed at which the text will expand*/
.index-heading span {
     display: inline-block;
      transition: transform 0.4s ease-in-out;
      color: black;
}


/*Contents Page*/

/*The background of the contents page*/

.contents-heading{
    color: beige;
    text-align: center;
    font-size: 20px;
}

.contents{
    background-image: url(web-pictures/film-102681_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
   
}
 

/* The color, position , size etc of the heading "back"*/
.back{
    position: absolute;
    top: 0%;
    left: 85%;
    text-align: left;
    color: beige;
    font-weight: 800;
    text-decoration: none;
}


/* The color, position , size etc of the table*/
table {
    border-collapse: collapse;
    border-spacing: 10px ;
    margin-left: auto;
    margin-right: auto;
    border-color: rgb(10, 10, 10);
    text-decoration: none;
   
      
}
/*The tables headings*/
tr.headings{
    text-align: center;
   
}

/* The padding for the surounding text in the table*/
th, td{
    color:rgb(253, 250, 250);
    font-weight: 400;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
    padding: 30px;

}
/*Enlarge font when you hover*/
th,td:hover{

    font-size: larger;   

}


/*The images behind each movie title*/

tr.avatar:hover{
    background-image: url(web-pictures/avatar.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    
}


tr.avengers-end:hover{
    background-image: url(web-pictures/avengers-endgame.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

tr.avatar2:hover{
    background-image: url(web-pictures/avatar2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

tr.titanic:hover{
    background-image: url(web-pictures/titanic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

tr.starwarstheforce:hover{
    background-image: url(web-pictures/starwarsforceawakens.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

tr.avengersinfinity:hover{
background-image: url(web-pictures/avengersinfinity.jpg);
background-size: cover;
background-repeat: no-repeat;
}

tr.spidermannowayhome:hover{
background-image: url(web-pictures/spiderman.jpg);
background-size: cover;
background-repeat: no-repeat;

}

tr.jurassicworld:hover{
    background-image: url(web-pictures/jurassicworld.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}

tr.thelionking:hover{
    background-image: url(web-pictures/thelionking.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

tr.theavaengers:hover{
    background-image: url(web-pictures/theavengers.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

tr.furious7:hover{
    background-image: url(web-pictures/fast7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

tr.topgun:hover{
    background-image: url(web-pictures/topgun.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

tr.frozen2:hover{
    background-image: url(web-pictures/frozen2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

tr.barbie:hover{
    background-image: url(web-pictures/barbie.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

tr.avengesage:hover{
    background-image: url(web-pictures/avengesage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

tr.frozen:hover{
    background-image: url(web-pictures/frozen.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

tr.thesupermario:hover{
    background-image: url(web-pictures/supermario.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

tr.harrypotter:hover{
    background-image: url(web-pictures/harrypotter.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

tr.blackpanther:hover{
    background-image: url(web-pictures/blackpanther.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

tr.starwars-last-jedi:hover{
    background-image: url(web-pictures/starwarslastjedi.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

tr.jurassicworld-fallen-kingdom:hover{
    background-image: url(web-pictures/jurassicworldfallenkingdom.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

tr.beautyandthebeast:hover{
    background-image: url(web-pictures/beautyandthebeast.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

tr.incredibles:hover{
    background-image: url(web-pictures/incredibles2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

tr.thefateofthefurious:hover{
    background-image: url(web-pictures/thefateofthefurious.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

tr.iornman3:hover{
    background-image: url(web-pictures/iornman3.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}
